

/* PAGINA CONTACTO */

.formulario{
    font-family: map-get($estilos, font);
    font-weight: 200;
    font-size: 24px;
    margin-top: 10vh;
    color: #000000
}

.tituloForm{
    @extend .formulario; 
}
.subtituloForm{        
    @extend .formulario;
    font-weight: 100;
    color: #050506;
    text-decoration: underline; 
}


#formulario{ 
    div {
        font-family: map-get($estilos, font);
        font-weight: 300;
        font-size: 14px;
    }
    input {
        font-family: map-get($estilos, font);
        font-weight: 200;
        font-size: 12px;
    }
    button {
        font-family: map-get($estilos, font);
        font-weight: 300;
        font-size: 14px;
        margin-top: 4%;
        }
}
