/* FOOTER */


#footer {
    gap: 3vw;
    padding-top: 6vh;
}

#copyright {
    font-family: 'Roboto Mono';
    font-weight: 200;
    font-size: 12px;
    padding-top: 2vh;
}

.mapaSitio {
    font-family: map-get($estilos, font);
    font-weight: 200;
    font-size: 16px;
    margin-bottom: 5%;
    margin-top: 5%;
    grid-area: mapaSitio;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .menuSitio {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        justify-items: center;
        list-style: none;

        a {
            padding-right: 2vw;
            padding-bottom: 2vh;
            display: flex;
            justify-content: flex-end;
            list-style: none;
            text-decoration: none;
            color: #23272D;
        }

        .submenuSitio {
            display: none;
            position: absolute;
        }
    }
}
