
/* FOOTER */


.footer {
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    padding-left: 10vw;
    padding-right: 10vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 15vh;
    grid-template-areas: 
    "redesSociales copyright"
    "mapaSitio mapaSitio";


        .redesSociales {
            grid-area: redesSociales;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            column-gap: 5%;
            align-items: center;

        }

        .copyright {
            grid-area: copyright;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            font-family: 'Roboto Mono';
            font-weight: 200;
            font-size: 12px;
        }

}