
/* HEADER */
.barraNavegacion{
	min-height: 12vh;
	padding-left: 9.5vw;
	padding-right: 10vw;
	font-family: 'Roboto Mono';
	font-weight: 200;
	font-size: 16px;
}

.dropdown-menu{
		li{
			font-size: 14px;
		}	
}
