@import "variable";
@import "mixins";


@media screen and (max-width: 768px) {  
    /*FOOTER*/
    .redesSociales{
        img {
            width: 80%;
            padding: 0%;
        }
    }

    /*PAGINA INDEX*/
    
    
    #textCarousel{
        p{
            font-size: medium;
            padding-bottom: 10%;
        }
    }
    /*PAGINA LA RESIDENCIA*/
    .container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "foto5 foto5"
        "foto4 foto3"
        "foto4 foto6"
        "foto1 foto2";
            img{
                filter: contrast(100%);
                    &:hover{
                        filter: contrast(100%);
                    }
            }
    }
    .foto7{
        display: none;
    }
    
    /*PAGINA ARTISTAS*/
    .img--artistas{
        @include sizes(300%, 300%);
        overflow: hidden;
        transform: translate(-30%, 0%)
    }
    .carouselArtistas{
        padding: 1%;
    }
    

}

@media screen and (max-width: 600px){
    
    /*HEADER + NAV*/
    .barraNavegacion{
        font-size: 12px;
    }

    /*PAGINA ARTISTAS*/
        .contenedorArt{
            img{
                width: 250%;
                height: 100%;
                overflow:hidden;
            }
        }
        .texto-encima{
        a{  
            font-size: 16px;
            font-weight: 200;                
        }            
        }

        .laResidencia{
            justify-content: center;
            padding-left: 0%;
        }
        .novedades {
            display: flex;
            justify-content: center;
            padding-right: 0%;
        }
    
        .artistas {
            display: flex;
            justify-content: center;
            padding: 0%;
        }

        
        .contacto {
            display: flex;
            justify-content: center;
            padding: 0%;
        }
    
        .mapaSitio{
            display: flex;
            font-size: 12px;
        } 
}

