
@mixin sizes ($width, $height){
    width: $width;
    height: $height;
}

@mixin text ($font, $fontsize, $fontweight, $padding){
    font-family: $font;
    font-size: $fontsize;
    font-weight: $fontweight;
    padding: $padding;
}

