@import "mixins";

/* PAGINA NOVEDADES */

h1{
    font-family: map-get($estilos, font);
    color:map-get($estilos, fontcolor1); 
    font-weight: 200;
    font-size: 24px;
    padding: 5vh 10vw;

    }
#cuerpoNovedades {
    font-family: map-get($estilos, font);
    font-weight: 200;
    font-size: 12px;
    padding: 0vh 10vw;
    color: #DFE3E8;
    border-radius: 10%;
        #evento {
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }


