* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

$colorGradiente: linear-gradient(to top, #dfe9f3 0%, white 100%);
$tipografiaPrincipal: 'Roboto Mono'; 
$colorTipografia: #23272D;
$colorTipografia2: white; 