* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

@import "variable";
@import "header";
@import "footer";
@import "index";
@import "la-residencia";
@import "novedades";
@import "artistas";
@import "contacto";
@import "mixins";
@import "mediaq";