* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

/*MAPA*/
/* HEADER */
.encabezado {
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
  font-family: "Roboto Mono";
  font-weight: 300;
  height: 15vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 15vh;
  grid-template-areas: "logo navegacion navegacion"; }
  .encabezado .logo {
    grid-area: logo;
    display: flex;
    padding-left: 10vw;
    align-items: center; }
  .encabezado .navegacion {
    grid-area: navegacion;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right; }
  .encabezado .menu {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    justify-items: right;
    font-size: 18px;
    list-style: none;
    padding-right: 10vw; }
    .encabezado .menu li a {
      padding: 0vw 0vw 0vw 2vw;
      display: flex;
      justify-content: flex-end;
      list-style: none;
      text-decoration: none;
      color: #23272D; }
    .encabezado .menu a:hover {
      font-family: "Roboto Mono";
      font-weight: 400;
      color: #23272D; }
    .encabezado .menu li:hover ul {
      display: block;
      padding-right: 2vw; }
    .encabezado .menu .submenu {
      display: none;
      position: absolute; }
      .encabezado .menu .submenu li {
        display: block;
        height: auto;
        padding: 0.5vw 1vw;
        background-color: #dfe9f3; }

/* FOOTER */
.footer {
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
  padding-left: 10vw;
  padding-right: 10vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 15vh;
  grid-template-areas: "redesSociales copyright" "mapaSitio mapaSitio"; }
  .footer .redesSociales {
    grid-area: redesSociales;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    column-gap: 5%;
    align-items: center; }
  .footer .copyright {
    grid-area: copyright;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: "Roboto Mono";
    font-weight: 200;
    font-size: 12px; }
  .footer .mapaSitio {
    font-family: "Roboto Mono";
    font-weight: 200;
    font-size: 16px;
    margin-bottom: 5%;
    grid-area: mapaSitio;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start; }
    .footer .mapaSitio .menuSitio {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-between;
      justify-items: right;
      list-style: none; }
      .footer .mapaSitio .menuSitio a {
        padding-right: 2vw;
        padding-bottom: 2vh;
        display: flex;
        justify-content: flex-end;
        list-style: none;
        text-decoration: none;
        color: #23272D; }
      .footer .mapaSitio .menuSitio .submenuSitio {
        display: none;
        position: absolute; }

/* PAGINA PRINCIPAL */
.seccion {
  background-image: url(../imagenes/monte_body_02.png);
  background-position: top center;
  height: 70vh;
  width: 100vw;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
  grid-template-areas: "laResidencia novedades" "artistas contacto"; }
  .seccion div {
    display: flex;
    flex-wrap: wrap; }
    .seccion div a {
      font-family: "Roboto Mono";
      list-style-type: none;
      text-decoration: none;
      font-weight: 400;
      font-size: 30px;
      color: white; }
      .seccion div a:hover {
        font-weight: 300; }
  .seccion .laResidencia {
    grid-area: laResidencia;
    padding-left: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start; }
  .seccion .novedades {
    grid-area: novedades;
    padding-right: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end; }
  .seccion .artistas {
    grid-area: artistas;
    padding-left: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start; }
  .seccion .contacto {
    grid-area: contacto;
    padding-right: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end; }

/* PAGINA LA RESIDENCIA */
.cuerpoResidencia h1 {
  font-family: 'Roboto Mono';
  font-weight: 200;
  font-size: 24px;
  padding: 5vh 10vw; }

.cuerpoResidencia p {
  font-family: 'Roboto Mono';
  font-weight: 300;
  font-size: 16px;
  padding: 5vh 10vw; }

.container {
  display: grid;
  overflow: hidden;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1%;
  grid-auto-flow: row;
  width: 80%;
  height: auto;
  grid-template-areas: "foto1 foto2 foto3" "foto4 foto5 foto5" "foto4 foto6 foto7"; }
  .container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1%;
    filter: contrast(80%); }
    .container img:hover {
      filter: saturate(120%) contrast(100%); }

.foto1 {
  grid-area: foto1; }

.foto2 {
  grid-area: foto2; }

.foto3 {
  grid-area: foto3; }

.foto4 {
  grid-area: foto4; }

.foto5 {
  grid-area: foto5; }

.foto6 {
  grid-area: foto6; }

.foto7 {
  grid-area: foto7; }

/* PAGINA NOVEDADES */
#cuerpoNovedades {
  font-family: "Roboto Mono";
  font-weight: 200;
  font-size: 12px;
  padding: 5vh 10vw;
  color: #DFE3E8;
  border-radius: 10%; }
  #cuerpoNovedades h1 {
    font-family: "Roboto Mono";
    font-weight: 200;
    font-size: 24px;
    color: #23272D;
    padding-bottom: 2%; }
  #cuerpoNovedades #evento {
    width: 100%;
    height: auto;
    object-fit: contain; }

h1 {
  padding: 5vh 10vw;
  font-family: "Roboto Mono";
  color: #23272D;
  font-weight: 300;
  font-weight: 200;
  font-size: 24px;
  text-transform: uppercase; }

.contenedorArt {
  position: relative;
  padding-bottom: 1vh; }
  .contenedorArt img {
    width: 100%;
    filter: brightness(50%); }

.texto-encima {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .texto-encima a {
    font-family: "Roboto Mono";
    color: white;
    font-size: 18px;
    list-style: none;
    text-decoration: none;
    font-weight: 300; }
  .texto-encima a:hover {
    font-weight: 400; }

/* PAGINA CONTACTO */
.tituloForm {
  font-family: "Roboto Mono";
  font-weight: 200;
  font-size: 24px;
  margin-top: 10vh; }

.subtituloForm {
  font-family: "Roboto Mono";
  font-weight: 200;
  font-size: 24px;
  margin-top: 10vh; }

#formulario div {
  font-family: "Roboto Mono";
  font-weight: 300;
  font-size: 14px; }

#formulario input {
  font-family: "Roboto Mono";
  font-weight: 200;
  font-size: 12px; }

#formulario button {
  font-family: "Roboto Mono";
  font-weight: 300;
  font-size: 14px;
  margin-top: 4%; }

/*PAGINA ARTISTAS*/
.img--artistas {
  width: 100%;
  height: auto; }

.titulo--artistas {
  font-family: "Roboto Mono";
  font-size: 24px;
  font-weight: 200;
  padding: 5vh 10vw; }

.subtitulo--artistas {
  font-family: "Roboto Mono";
  font-size: 18px;
  font-weight: 300;
  padding: 0vh 10vw 2vh 10vw; }

.parrafo--artistas {
  font-family: "Roboto Mono";
  font-size: 16px;
  font-weight: 200;
  padding: 2vh 10vw 2vh 10vw; }

/*MAPA*/
@media screen and (max-width: 768px) {
  .encabezado img {
    width: 50%; }
  .encabezado .menu {
    font-size: 12px; }
  .seccion a {
    font-family: "Roboto Mono";
    font-weight: 300;
    font-size: 20px; }
  .redesSociales img {
    width: 80%;
    padding: 0%; } }

@media screen and (max-width: 600px) {
  .encabezado {
    width: 100%;
    display: flex;
    justify-content: center; }
    .encabezado .logo {
      padding: 0%;
      justify-content: center; }
    .encabezado img {
      width: 70%; }
    .encabezado .navegacion {
      display: none; }
  .contenedorArt img {
    width: 300%;
    height: 100%;
    overflow: hidden; }
  .texto-encima a {
    font-size: 16px;
    font-weight: 200; }
  .seccion {
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    .seccion div {
      display: flex;
      justify-content: center;
      padding: 0%; }
      .seccion div a {
        font-family: "Roboto Mono";
        font-weight: 300;
        font-size: 20px; }
    .seccion .laResidencia {
      justify-content: center;
      padding-left: 0%; }
    .seccion .novedades {
      display: flex;
      justify-content: center;
      padding-right: 0%; }
    .seccion .artistas {
      display: flex;
      justify-content: center;
      padding: 0%; }
  .contacto {
    display: flex;
    justify-content: center;
    padding: 0%; }
  .mapaSitio {
    display: flex;
    font-size: 12px; } }
